html, body {
	color: #FFFFFF;	
} 
body,
button,
h1,
h2,
label,
.cabecalho,
.menu-acessibilidade,
.rodape,
.rodape .title,
.receita .comentarios .texto,
.receita .detalhes .infos .tempo,
.receita .detalhes .infos .rendimento,
.receita .detalhes .ingredientes,
.receita .detalhes .preparo,
.acessibilidade ul,
.recomendacao,
.easy-autocomplete-container
 {
	background-color: #000000 !important;	
	color: yellow !important;
}

a {
	color: yellow !important;	
}

.lista ul li {
	background-color: #000000 !important;	
}

input[type="checkbox"] {
	border: 2px solid yellow !important;
}

.codigo {
	background-color: #000 !important;
	color: yellow;
}