html, body {
	color: #FFFFFF;	
} 
body,
.cabecalho,
.menu-acessibilidade,
.rodape,
.rodape .title,
.receita .comentarios .texto,
.receita .detalhes .infos .tempo,
.receita .detalhes .infos .rendimento,
.receita .detalhes .ingredientes,
.receita .detalhes .preparo
 {
	background-color: #000000 !important;	
	color: yellow !important;
}

a {
	color: yellow;	
}

.lista ul li {
	background-color: #000000;	
}