/**********************************/
/************* Index **************/
/**********************************/
.index .conteudo-inicial .mask {
	background: url('images/transparence.png') repeat-x 0 0;
	width: 280px;
	height: 188px;	
	position: absolute;
	top: -173px;
	left: 0;
}
.index .conteudo-inicial ul {
	height: 188px;
}

.index .conteudo-inicial ul:first-child {
	margin-bottom: 30px;
}

.index .conteudo-inicial ul li {
	float: left;
	margin: 0 15px; 	
}

.index .conteudo-inicial ul li:first-child {
	margin-left: 0;
} 

.index .conteudo-inicial ul li:last-child {
	margin-right: 0;
}

.index .conteudo-inicial a {
	position: relative;
}

.index .conteudo-inicial a > img {
	width: 280px;
	height: 188px;	
}

.index .conteudo-inicial label {
	position: absolute;
	top: -163px;
	left: 10px;
	font-size: 28px;
	color: #ffffff;
}

.index .conteudo-inicial .flag {
    width: 280px;
    height: 8px;
    position: absolute;
    bottom: 4px;
    left: 0;
    padding: 0;
}

.index .conteudo-inicial .flag.carnes { background-color: #00796b; }
.index .conteudo-inicial .flag.doces { background-color: #2196f3; }
.index .conteudo-inicial .flag.massas { background-color: #ffc107; }
.index .conteudo-inicial .flag.saladas { background-color: #7b1fa2; }
.index .conteudo-inicial .flag.salgados { background-color: #B4C131; }
.index .conteudo-inicial .flag.sopas { background-color: #ff5722; }

/********* Recomendacao **********/

.recomendacao {
	background-color: #3c3c3c;
	width: 100%;
	height: 250px;
	margin-top: 30px;
	padding: 20px;
    box-sizing: border-box;
}

.recomendacao h2 {
	color: #fff;
	font-weight: 100;
	margin-bottom: 20px;
}

.recomendacao .bxslider a {
	position: relative;
	left: 0;
	top: 0;
}

.recomendacao .bxslider a svg {
	position: absolute;
    top: -130px;
    left: -7px;
}

.recomendacao .bxslider a label {
	color: #fff;
	margin-top: 10px;
	display: inline-block; 
}

.recomendacao .bxslider .flag {
    width: 72px;
    height: 20px;
    position: absolute;
	top: -130px;
    left: -8px;
    background: url('images/flag.svg') no-repeat 0 0;
    padding: 0;
}

.recomendacao .bxslider .flag.carnes { background-position: 0 0; }
.recomendacao .bxslider .flag.doces { background-position: 0 -20px; }
.recomendacao .bxslider .flag.massas { background-position: 0 -40px; }
.recomendacao .bxslider .flag.saladas { background-position: 0 -60px; }
.recomendacao .bxslider .flag.salgados { background-position: 0 -80px; }
.recomendacao .bxslider .flag.sopas { background-position: 0 -100px; }


/***********************************/
/************* Listas **************/
/***********************************/
.lista h1 {
    letter-spacing: -1px;
}

.lista ul li {
	background-color: #eaeaea;
	border: 1px solid #bababa;
	width: 435px;
	height: 150px;
	float: left;
	padding: 12px;
	box-sizing: border-box;
	margin-bottom: 30px;
}

.lista ul li:nth-child(even)
{
	float: right;
}

.lista ul li .foto {
	width: 124px;
	height: 124px;
	background-repeat: no-repeat;
	background-position: center center; 
	float: left;
	margin-right: 12px;
}

.lista ul li .info {
	float: right;
	font-weight: 300;
}

.lista .infos > div:first-child {
	margin-top: 0;
}

.lista .infos > div {
	margin: 10px 0;
}

.lista .infos .categoria {
	text-transform: capitalize;
}

.lista .infos .nome {
	font-size: 28px;
}

.lista .infos hr.divisoria.carnes { border-bottom-color: #00796b; }
.lista .infos hr.divisoria.doces { border-bottom-color: #2196f3; }
.lista .infos hr.divisoria.massas { border-bottom-color: #ffc107; }
.lista .infos hr.divisoria.saladas { border-bottom-color: #7b1fa2; }
.lista .infos hr.divisoria.salgados { border-bottom-color: #B4C131; }
.lista .infos hr.divisoria.sopas { border-bottom-color: #ff5722; }

.lista .mais-receitas {
    text-align: center;
    margin-top: 30px;
}

.lista .mais-receitas hr.divisoria {
    border-bottom-color: #D4323E;
    width: 320px;
    margin-top: 20px;
}


/*************************************/
/************* Detalhes **************/
/*************************************/
.receita .detalhes {
	width: 488px;
}

.receita .detalhes .autoria {
	font-size: 14px;
	margin-bottom: 5px;
	display: inline-block;
}

.receita .detalhes .avaliacao {
    margin-bottom: 10px;
    height: 20px;
}

.receita .detalhes .galeria {
	position: relative;
	top: 0;
	left: 0;
	width: 488px;
	height: 252px;
	margin-bottom: 20px;
}

.receita .detalhes .galeria .principal {
	width: 378px;
	height: 252px;
	float: left;
	margin-right: 5px;
	border: 1px solid #bababa;
	box-sizing: border-box;
}

.receita .detalhes .galeria .mini {
	width: 102px;
	height: 80px;
	margin-bottom: 6px;
	float: left;
	border: 1px solid #bababa;
	box-sizing: border-box;
}

.receita .detalhes .galeria .mini:last-child {
    margin-bottom: 0;
}


.receita .detalhes .galeria .flag {
    width: 72px;
    height: 20px;
    position: absolute;
    top: 220px;
    left: -8px;
    background: url('images/flag.svg') no-repeat 0 0;
    padding: 0;
}

.receita .detalhes .galeria .flag.carnes { background-position: 0 0; }
.receita .detalhes .galeria .flag.doces { background-position: 0 -20px; }
.receita .detalhes .galeria .flag.massas { background-position: 0 -40px; }
.receita .detalhes .galeria .flag.saladas { background-position: 0 -60px; }
.receita .detalhes .galeria .flag.salgados { background-position: 0 -80px; }
.receita .detalhes .galeria .flag.sopas { background-position: 0 -100px; }

.receita .detalhes .infos {
    margin-bottom: 20px;
    height: 80px;
}

.receita .detalhes .infos .tempo,
.receita .detalhes .infos .rendimento {
	float: left;
	width: 230px;
	height: 80px;
	text-align: center;
	padding-top: 30px;
	font-size: 18px;
	box-sizing: border-box;
	border: 1px solid #bababa;	
}

.receita .detalhes .infos .tempo {
	background: #eaeaea url('images/icones/tempo.svg')  no-repeat 18px center;
}

.receita .detalhes .infos .rendimento {
	background: #eaeaea url('images/icones/rendimento.svg')  no-repeat 18px center;
	margin-left: 25px;
}

.receita .detalhes .ingredientes,
.receita .detalhes .preparo {	
	width: 485px;
	box-sizing: border-box;
	border: 1px solid #bababa;
	display: inline-block;
	padding: 20px;
	margin-bottom: 20px;
}

.receita .detalhes .ingredientes h2,
.receita .detalhes .preparo h2 {
	margin: 3px 0 20px 40px
}

.receita .detalhes .preparo {
	background: #eaeaea url('images/icones/preparo.svg')  no-repeat 20px 20px;
	line-height: 20px;
}

.receita .detalhes .ingredientes {
	background: #eaeaea url('images/icones/ingredientes.svg')  no-repeat 20px 20px;
}

.receita .detalhes .ingredientes ul {
	list-style: disc inside none; 	
}

.receita .detalhes .ingredientes ul li {
	margin-bottom: 7px;	
}

.receita .avalie h2 {
	margin-bottom: 20px;
}

.receita .avalie .estrela {
	width: 36px;
	height: 36px;
	background: url('images/star.svg') no-repeat 0 0;
	background-size: 36px 72px;
	float: left;
	margin-right: 24px;
}

.receita .avalie .estrela.ativa {
	background-position: 0 -36px;
}

/************ Comentarios **************/

.receita .comentarios {
	width: 378px;
}

.receita .comentarios .exportar {
	float: right;
	background: #3c3c3c url('images/icones/exportar.svg') no-repeat 10px center;
	padding: 8px 10px 8px 38px;
	box-sizing: border-box;
	color: #ffffff;
}

.receita .comentarios h2 {
	width: inherit;
    display: inline-block;
    margin: 20px 0;
}

.receita .comentarios .texto {
	width: 295px;
	box-sizing: border-box;
	border: 1px solid #bababa;
	background-color: #eaeaea;
	padding: 10px;
	font-size: 14px;
	float: left;
	margin-bottom: 15px;
}

.receita .comentarios .texto span {
	font-weight: 500;	
}

.receita .comentarios .texto p {
	font-style: italic;
	line-height: 20px;
	margin-top: 10px;
}

.receita .comentarios .pointer {
	float: left;
	width: 6px;
	height: 70px;
	background: url('images/icones/pointer.svg') no-repeat 0 center;
	background-size: 6px;
}

.receita .comentarios .foto {
	float: right;
	width: 70px;
	height: 70px;
	background-color: #ff0042;
	border-radius: 50%;
	-webkit-border-radius: 50%;
    overflow: hidden; 
}

.receita .comentarios textarea {
    border: 1px solid #bababa;
    width: inherit;
    height: 150px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 10px;
    box-sizing: border-box;
    color: #000;
    margin-bottom: 15px;
    resize: none;
}


/*************************************/
/************* Exportar **************/
/*************************************/
.exportar .xml,
.exportar .json {
	width: 428px;
	position: relative;
	top: 0;
	left: 0;
}

.exportar .codigo {
	height: 500px;
	background-color: #eaeaea;
	border: 1px solid #bababa;
	margin: 10px 0 20px; 
}

.exportar a.copiar {
	position: absolute;
	right: 10px;
	bottom: 70px;
}


/*******************************************/
/************* Login/Cadastro **************/
/*******************************************/
.acesso h1 {
	font-size: 28px;
	margin: 0;
}

.acesso h2 {
	font-size: 24px;
}


.acesso .login {
	width: 235px;
}

.acesso .login input {
	width: 230px;	
}

.acesso .login button {
	width: 230px;
	margin-top: 10px;
}

.acesso .cadastro {
	width: 655px;
	border: 0;
	border-left: 1px solid #3c3c3c; 
	padding-left: 20px;
	box-sizing: border-box;
}

.acesso .cadastro .preferencias {
	width: 100%;	
	padding-top: 10px;
}

.acesso .cadastro .preferencias input[type="checkbox"] {
	width: 40px; 
	height: 40px; 
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
	border: 1px solid;
}

.preferencias input[type="checkbox"]:checked {
    background: url('images/checked.svg') no-repeat center center;
}

.acesso .cadastro .preferencias label {
    font-size: 22px;
    margin-right: 10px;
    margin-left: 5px;
    width: 145px;
    left: 0;
    display: inline-block;
    margin: 10px 10px 10px 5px;
    position: relative;
    top: -16px;
}

.acesso .cadastro button {
	width: 190px;
	margin-top: 10px;
}


/************************************/
/************* Inserir **************/
/************************************/
.inserir .infos-receita h2 {
	margin-top: 20px;
}

.inserir .infos-receita {
    width: 540px;
}

.inserir button {
    clear: both;
    display: block;
}

.inserir .infos-receita .autor {
	margin-top: 0;
}

.inserir .ingrediente {
	width: 490px;
}

.inserir .infos-receita .categorias {
	width: 100%;
	margin-top: 20px;
}

.inserir .infos-receita .categorias input[type="checkbox"] {
	width: 40px; 
	height: 40px; 
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
	border: 1px solid;
}

.inserir .infos-receita .categorias input[type="checkbox"]:checked {
    background: url('images/checked.svg') no-repeat center center;
}

.inserir .infos-receita .categorias label {
    font-size: 22px;
    margin-right: 10px;
    margin-left: 5px;
    width: 115px;
    left: 0;
    display: inline-block;
    margin: 10px 10px 10px 5px;
    position: relative;
    top: -16px;
}

.inserir .infos-receita textarea {
    border: 1px solid #656565;
    width: inherit;
    height: 150px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 10px;
    box-sizing: border-box;
    color: #000;
    margin: 15px 0;
    resize: none;
}

.inserir .infos-receita .add-ingrediente {
    margin-top: 12px;
    display: block;
    float: right;
}

.inserir .fotos-receita {
    width: 320px;
}

.inserir .fotos-receita h2 {
	margin-bottom: 20px;
}

.inserir .fotos-receita a.foto {
    margin: 0 15px 15px 0;
    display: inline-block;
}