/**********************************/
/************* Index **************/
/**********************************/
.index .conteudo-inicial .mask {
	background: url('images/transparence.png') repeat-x 0 0;
	width: 280px;
	height: 188px;	
	position: absolute;
	top: -173px;
	left: 0;
}
.index .conteudo-inicial ul {
	height: 188px;
}

.index .conteudo-inicial ul:first-child {
	margin-bottom: 30px;
}

.index .conteudo-inicial ul li {
	float: left;
	margin: 0 15px; 	
}

.index .conteudo-inicial ul li:first-child {
	margin-left: 0;
} 

.index .conteudo-inicial ul li:last-child {
	margin-right: 0;
}

.index .conteudo-inicial a {
	position: relative;
}

.index .conteudo-inicial a > img {
	width: 280px;
	height: 188px;	
}

.index .conteudo-inicial label {
	position: absolute;
	top: -163px;
	left: 10px;
	font-size: 28px;
	color: #ffffff;
}

.index .conteudo-inicial .flag {
    width: 280px;
    height: 8px;
    position: absolute;
    bottom: 4px;
    left: 0;
    padding: 0;
}

.index .conteudo-inicial .flag.carnes { background-color: #00796b; }
.index .conteudo-inicial .flag.doces { background-color: #2196f3; }
.index .conteudo-inicial .flag.massas { background-color: #ffc107; }
.index .conteudo-inicial .flag.saladas { background-color: #7b1fa2; }
.index .conteudo-inicial .flag.salgados { background-color: #B4C131; }
.index .conteudo-inicial .flag.sopas { background-color: #ff5722; }

/***************/

.recomendacao {
	background-color: #3c3c3c;
	width: 100%;
	height: 250px;
	margin-top: 30px;
	padding: 20px;
    box-sizing: border-box;
}

.recomendacao h2 {
	color: #fff;
	font-weight: 100;
	margin-bottom: 20px;
}

.recomendacao .bxslider a {
	position: relative;
	left: 0;
	top: 0;
}

.recomendacao .bxslider a svg {
	position: absolute;
    top: -130px;
    left: -7px;
}

.recomendacao .bxslider a label {
	color: #fff;
	margin-top: 10px;
	display: inline-block; 
}

.recomendacao .bxslider .flag {
    width: 72px;
    height: 20px;
    position: absolute;
	top: -130px;
    left: -8px;
    background: url('images/flag.svg') no-repeat 0 0;
    padding: 0;
}

.recomendacao .bxslider .flag.carnes { background-position: 0 0; }
.recomendacao .bxslider .flag.doces { background-position: 0 -20px; }
.recomendacao .bxslider .flag.massas { background-position: 0 -40px; }
.recomendacao .bxslider .flag.saladas { background-position: 0 -60px; }
.recomendacao .bxslider .flag.salgados { background-position: 0 -80px; }
.recomendacao .bxslider .flag.sopas { background-position: 0 -100px; }


/***********************************/
/************* Listas **************/
/***********************************/
.lista h1 {
    letter-spacing: -1px;
}

.lista .resultado {
	text-transform: capitalize;
	font-weight: 500;
}

.lista ul li {
	background-color: #eaeaea;
	border: 1px solid #bababa;
	width: 435px;
	height: 150px;
	float: left;
	padding: 12px;
	box-sizing: border-box;
	margin-bottom: 30px;
}

.lista ul li:nth-child(even)
{
	float: right;
}

.lista ul li .foto {
	width: 124px;
	height: 124px;
	background-repeat: no-repeat;
	background-position: center center; 
	float: left;
	margin-right: 12px;
}

.lista ul li .info {
	float: right;
	font-weight: 300;
}

.lista .infos .avaliacao .estrela {
	width: 20px;
	height: 20px;
	background: url('images/star.svg') no-repeat 0 0;
	float: left;
	margin-right: 6px;
}

.lista .infos .avaliacao .estrela.ativa {
	background-position: 0 -20px;
}

.lista .infos > div:first-child {
	margin-top: 0;
}

.lista .infos > div {
	margin: 10px 0;
}

.lista .infos .categoria {
	text-transform: capitalize;
}

.lista .infos .nome {
	font-size: 28px;
}

.lista .infos hr.divisoria.carnes { border-bottom-color: #00796b; }
.lista .infos hr.divisoria.doces { border-bottom-color: #2196f3; }
.lista .infos hr.divisoria.massas { border-bottom-color: #ffc107; }
.lista .infos hr.divisoria.saladas { border-bottom-color: #7b1fa2; }
.lista .infos hr.divisoria.salgados { border-bottom-color: #B4C131; }
.lista .infos hr.divisoria.sopas { border-bottom-color: #ff5722; }

.lista .mais-receitas {
    text-align: center;
    margin-top: 30px;
}

.lista .mais-receitas hr.divisoria {
    border-bottom-color: #D4323E;
    width: 320px;
    margin-top: 20px;
}
