/*** configuração ***/
*html {
	height: 100%;
}
html, body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 
	min-width:901px; 	
	width:100%;
	font-size:16px;
	color:#212121;
} 
body {
	margin:0;
	padding:0;
	background-color:#FFFFFF;	
}

strong {
	font-weight: 500;
}

input:required:invalid, 
input:focus:invalid, 
textarea:required:invalid {
	background-image: url('images/invalid.svg');
	background-position: right center;
	background-repeat: no-repeat;
	-moz-box-shadow: none;
}

input:required:valid, 
textarea:required:valid {
	background-image: url('images/valid.svg');
	background-position: right center;
	background-repeat: no-repeat;
}

pre {-moz-tab-size: 3;} /* Code for Firefox */
pre {-o-tab-size: 3;} /* Code for Opera 10.6-12.1 */
pre {tab-size: 3;}

/*************** Base **************/
.clear {	
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}

.container {
	width:auto;
	height:auto;
	margin:auto;	
	/*border: 1px solid red;*/
}
.secao {
	width:901px;
	height:auto;
	margin:auto; 
	clear: both;
	position: relative;
	/*border: 1px solid green;*/
}

.hidden {
	display: none !important;
}

hr.divisoria {
	border: 0px;
	border-bottom: 1px solid #000000;
	padding: 0;
}

h1 {
	font-size: 30px;
	margin-bottom: 20px;	
}

h2 {
	font-size: 26px;
}

button,
input[type="submit"] {
    background-color: #D4323E;
    padding: 7px 12px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 100;
    border: 0;
}

button:disabled {
    background-color: #B1B1B1;
    color: #ffffff;
}

.carnes { background-color: #00796b; padding: 3px; color:#ffffff; }
.doces { background-color: #2196f3; padding: 3px; color:#ffffff;  }
.massas { background-color: #ffc107; padding: 3px; color:#ffffff;  }
.saladas { background-color: #7b1fa2; padding: 3px; color:#ffffff;  }
.salgados { background-color: #B4C131; padding: 3px; color:#ffffff;  }
.sopas { background-color: #ff5722; padding: 3px; color:#ffffff;  }

.avaliacao .estrela {
	width: 20px;
	height: 20px;
	background: url('images/star.svg') no-repeat 0 0;
	float: left;
	margin-right: 6px;
}

.avaliacao .estrela.ativa {
	background-position: 0 -20px;
}

.resultado {
	text-transform: capitalize;
	font-weight: 500;
}

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="email"],
input[type="password"],
select {
	height: 40px;
	font-size: 20px;
	padding: 5px 20px 5px 10px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 
	border: 1px solid #656565;
	width: 100%;
	margin: 10px 0;
}

input[type="text"]:disabled {
	background-color: #DADADA;
	color: #000000;
}


/************************************************/
/************* Menu Acessibilidade **************/
/************************************************/
.menu-acessibilidade {
	background-color: #e1e1e1;
	color: #000;
	height: 65px;
	padding-top: 15px;
	box-sizing: border-box;
}

.menu-acessibilidade ul li {
    float: left;
    width: 180px;
    height: 36px;
    text-align: center;
}

.menu-acessibilidade ul li:first-child {	
    padding-left: 0;
}

.menu-acessibilidade ul li:last-child {	
    padding-right: 0;
}

/**************************************/
/************* Cabeçalho **************/
/**************************************/
.cabecalho {
	background-color: #3c3c3c;
	color: #fff;
	height: 150px;
}

.cabecalho .divisoria {
	width: 2px;
	height: 2px;
	margin: 0 8px 0 3px;
	background-color: #ffffff;
	display: inline-block;
}

.menu,
.entre {
	width: 346px;
	margin-top: 30px;
}

.menu {
	padding-right: 20px;
	box-sizing: border-box; 
}

.cabecalho .title {
	text-align: right;
	font-size: 30px;
	font-weight: 100; 
}

.cabecalho .line {
	border-bottom-color: #ffffff;
}

.menu ul li {
	float: left;
	margin-bottom: 10px;
	font-size: 20px;
	letter-spacing: 1px;
}

.entre {
	padding-left: 20px;
	box-sizing: border-box;	
}

.entre .title {
	text-align: left;
	letter-spacing: 0px;
}

.entre a {
	font-size: 20px;
	letter-spacing: 1px;
}

/**********************************/
/************* Busca **************/
/***********************************/
.search {
	text-align: center;
	margin: 30px auto;
	position: relative;
	top: 0;
	left: 0;
}

.easy-autocomplete {
	margin: 30px auto;	
	position: relative;
}

.easy-autocomplete-container {
	text-align: left;
	position: absolute;
	background-color: #ededed;
	top: 50px;
	left: 0;
	width: 400px;
	z-index: 999;
}

.easy-autocomplete-container .eac-item {
	margin: 10px;
	font-size: 18px;
}

.search input[type="search"] {
	width: 400px;
	height: 50px;
	font-size: 28px;
	padding: 5px 10px 5px 10px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 
	background-color: #ededed;
	border: 1px solid #231F20;
}

.buscar {
    width: 50px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 654px;
    padding-top: 10px;
}

/***********************************/
/************* Rodapé **************/
/***********************************/
.rodape {
	background-color: #ffffff;
	color: #000;	
	height: 168px;
	text-align: center;
	padding-top: 50px;
	box-sizing: border-box;
	clear: both;
}

.social .title {
	margin-bottom: 25px;
	font-size: 25px;
	color: #212121;
}

.social ul {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;	
}

.social ul li {
	margin: 0 15px;
}

.social ul li a {
	width: 44px;
	height: 44px;
	background: url("images/social.png") no-repeat;	
	float: left;
}

.youtube > a { background-position: 0 0 !important; }
.youtube > a:hover { background-position: 0 -44px !important; }
.pinterest > a { background-position: -44px 0 !important; }
.pinterest > a:hover { background-position: -44px -44px !important; }
.facebook > a { background-position: -88px 0 !important; }
.facebook > a:hover { background-position: -88px -44px !important; }
.twitter > a { background-position: -132px 0 !important; }
.twitter > a:hover { background-position: -132px -44px !important; }
.instagram > a { background-position: -176px 0 !important; }
.instagram > a:hover { background-position: -176px -44px !important; }

.strip {
	height: 30px;
	background-color: #d4323e;
}
/*******************************************/
/************* formulario **************/
/*******************************************/
.uppercase
{
	text-transform:uppercase !important;
}